@import '_variables';

* {
  font-family: 'Tajawal', sans-serif;
}

h1 {
  font-family: 'Grandiflora One', serif;
}

body {
  background-color: $background;
  color:white;
}

.loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $background;
  margin-top: 15rem;
}

.homepage {
  flex-direction: row;
  max-height: 55rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.title {
  display: flex;
  // padding-top: 15rem;
  justify-content: center;
  margin-bottom: -3rem;
  margin-top: -0.4rem;
  font-size: 30px;
}

#bond {
  color: $accent;
}

.loginSignupButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 9em;
  margin-right: 9em;
}

.loginPage {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  text-decoration-color: bisque;
}

.signUpPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signUpFields {
  display: flex;
  flex-direction: column;
}
.container {
  display: grid;
  background-color: lighten($background, 10%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  // border:1px solid rgb(168, 0, 146);
  grid-template-columns: 0.18fr 0.9fr 0.18fr;
  height: 45rem;
}

#partnerCards {
  min-width: 75rem;
}

.cards {
  display: flex;
  flex-direction: column;
  border: 4px solid rgba(150, 0, 130, 0.705);
  border-radius: 2px;
  background-color: rgb(49, 49, 49);
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 60rem;
  min-width: 50rem;
  height: 35rem;
  margin: -5rem 5rem 0 5rem;
  .cardBio {
    padding: 5rem;
  }
}

#userProfile {
  box-shadow: rgba(44, 44, 44, 0.25) 0px 30px 60px -12px inset,
    rgb(0, 0, 0) 0px 18px 36px -10px inset;
  // border: 1px solid rgba(109, 1, 1, 0.568);
  overflow-x: hidden;
  min-width: 12rem;
  div {
    max-height: 49rem;
    display: flex;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: hidden;
    .userInfo {
      margin: 0;
      #bio {
        max-height: 10rem;
        overflow-y: auto;
        scrollbar-width: 0px;
      }
    }
  }
}

#logoutDelete {
  position: absolute;
  bottom: 5rem;
  // border: 4px solid rgba(150, 0, 130, 0.705);
  max-width: 90%;
  margin-left: 5rem;
  // margin-right: 2rem;
  width: 12rem;
  height: 5rem;
  #logout {
    width: 90%;
  }
  #delete {
    width: 90%;
  }
}

#requests {
  box-shadow: rgba(44, 44, 44, 0.25) 0px 30px 60px -12px inset,
    rgb(0, 0, 0) 0px 18px 36px -10px inset;
  padding-left: 1rem;
  #incomingRequests {
    overflow-y: scroll;
    height: 20rem;
  }
  #outgoingRequests {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 20rem;
  }
}

.MuiSlider-thumb {
  color: lighten($accent, 20%);
}

.awssld__content {
}

h3 {
  margin-bottom: -1rem;
}

.card{
  width: 310px;
  height: 627px;
  padding: 15px;
  margin-top: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 15px 10px 25px 0px  #3fa1a9;
  background: #fff;
  background-image: url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf2.png?raw=true'), url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf.png?raw=true');
  background-repeat: no-repeat, no-repeat;
  background-position: 120% -5%, 200% -40%;
  background-size: 40%, 80%;
  animation: open .5s;
}
@keyframes open {
  0%  {background-position: 166% -25%, 220% -69%;}
  100%{background-position: 120% -5%, 200% -40%;}
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field{
  margin: 5px;
  display: flex;
  flex-direction: column;
  }
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 4px;
  cursor: pointer;
  background: linear-gradient(270deg, #3fa1a9, #79f1a4);
  margin-bottom: 25px;
}

.img-wrap{
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.img-upload:before{
  content: "\f093";
  font-size: 90px;
  position: absolute;
  padding-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #63d3a6;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}
.img-upload:hover:before{
 opacity: 1;
}
img {
  width: auto;
  height: 100%;
}
.save{
  font-weight: 600;
  left: -20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 20px;
  box-shadow: 20px 0px 40px 0px  #63d3a6;
}

.calendar3 {
  background-color: #63d3a6;
  width: 500px; 
}

#title2 {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  margin-bottom: -3rem;
  margin-top: -0.4rem;
  font-size: 45px;
  color: white;
}
