.container{
    display: grid;
    border:1px solid red;
    grid-template-columns: .25fr .75fr .25fr;
}

.cards {
  display: grid;
  border:1px solid red;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}


